* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.main {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scoreboard {
    padding: 10px; 
    display: flex;
    justify-content: center;
    gap: 15px;
    background-color: rgb(99, 196, 188);
    width: 300px; 
}

.board {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    color: #532804;
    padding: 10px;
    width: 130px;
    border-radius: 10px;
    background-color: rgb(67, 161, 154);
    box-shadow: 
        inset 2px 2px 4px 2px rgba(0, 0, 0, 0.5),
        0 0 10px rgba(0, 0, 0, 0.2),
        0 1px 1px 1px #07708d;
}

.field {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: .1px;
    width: 300px;
    height: 300px;
    background-color: #4c2f27;
}

.field__cell {
    border: solid .1px;
}

.cards__link {
    display: flex;
    flex-direction: column;
    position: relative;
    text-decoration: none;
    border-radius: 16px;
    overflow: hidden;
}

.btn-restart {
    width: 300px;
    padding: 10px;
    border: none;
    background: red;
    color: white;
    display: none;
    transition: 0.3s;
}

.btn-restart:hover {
    box-shadow: 0px 2px 8px 2px rgba(141,150,178,.3);
    transform: scale(1.02);
  }

.btn-restart:focus {
  box-shadow: 0px 2px 8px 2px rgba(141,150,178,.3);
  transform: scale(.99);
}

.begin {
    text-align: center;
    margin: 0;
    width: 300px;
    padding: 10px;
    background: rgb(55, 211, 55);
    color: white;
}