.main {
    flex: 1;
}

.snake-game__container {
    margin: 0 auto;
    box-sizing: content-box;
    padding-top: 25px;
    padding-bottom: 25px;
}

@media (max-width: 767px) {

    .snake-game__container {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}