.field {
    min-width: 500px;
    height: 500px;
    display: grid;
    /* grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr); */
    border: 1px solid var(--baseBlack);

    background: var(--baseBrandLight2);
    box-shadow: var(--boxShadowContainer);
}

.field__cell {
    position: relative;
    border-bottom: 1px solid var(--baseBrandLight1);
    border-right: 1px solid var(--baseBrandLight1);
}

/* .field__cell::after {
    position: absolute;
    content: '';
    top: 5%;
    left: 5%;
    width: 95%;
    height: 95%;
    background: var(--baseBrandLight2);
} */